includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 8
    reportUnmatchedIgnoredErrors: true
    checkExplicitMixed: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingOverrideMethodAttribute: true
